ARK_API_KEY=your_ark_api_key_here
ARK_ENDPOINT_ID=ep-20260508213828-7ntjl
ARK_BASE_URL=https://ark.cn-beijing.volces.com/api/v3/chat/completions
# 设置为 disabled 即关闭Redis，自动降级回内存模式
REDIS_URL=redis://localhost:6379/0

DOUBAO_I2V_API_KEY=your_ark_api_key_here
DOUBAO_I2V_MODEL=doubao-seedance-1-5-pro-251215
DOUBAO_I2V_BASE_URL=https://ark.cn-beijing.volces.com/api/v3/contents/generations
